*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;
    color:#333;
    line-height:1.7;
}

/* Navigation */

nav{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 70px;

    border-bottom:1px solid #ddd;

    position:sticky;
    top:0;
    background:white;
}

.logo{

    font-size:32px;
    font-weight:bold;
}

nav ul{

    display:flex;
    list-style:none;
}

nav li{

    margin-left:40px;
}

nav a{

    text-decoration:none;
    color:#444;
    font-size:18px;
}

nav a:hover{

    color:#0077cc;
}

/* Layout */

.container{

    max-width:1300px;
    margin:auto;

    display:grid;
    grid-template-columns:300px 1fr;

    gap:70px;

    padding:50px;
}

/* Sidebar */

aside{

    position:sticky;
    top:120px;
}

.profile{

    width:220px;
    border-radius:50%;
    margin-bottom:20px;
}

aside h2{

    margin-bottom:10px;
}

aside p{

    margin:12px 0;
}

aside a{

    color:#333;
    text-decoration:none;
}

aside a:hover{

    color:#0066cc;
}

/* Main */

main h1{

    font-size:48px;
    margin-bottom:15px;
}

main h2{

    font-size:34px;
    margin-bottom:25px;
}

main p{

    font-size:22px;
    margin-bottom:25px;
}

main ul{

    margin-left:35px;
    margin-bottom:30px;
}

main li{

    font-size:22px;
    margin-bottom:10px;
}

section{

    margin-bottom:90px;
}
